<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>twitter log light</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
	<div id="v-tw" v-cloak>
		<div v-if="noTwData">
			<h1>Oops! 何かがおかしいようです。</h1>
			<p>tweets.jsを読み込めなかったか、表示できるデータがありませんでした。</p>
			<hr>
		</div>
		<button v-else v-on:click="toggleReadMe">{{showMessage()}}</button>
		<div v-if="isReadMe">
			<h2>これは何？</h3>
				<p>Twitterのバックアップデータ「tweets.js」を画面上に表示させる簡易的なツールです。</p>
				<h2>どうやって使うの？</h2>
				<p>「Your archive.html」と同じフォルダにこのhtmlを配置してください。<br>後はお好きなブラウザでhtmlをプレビューするだけです。</p>
				<p>検索は入力と同時に結果を反映します。キーワードは本文から含むものを、RTとLikeは入力された数値以上を抽出します。</p>
				<h2>注意することは？</h2>
				<p>tweets.jsはファイル名・ソースコード共に完全無加工のままでお願いします。</p>
				<p>※2022/11/21時点は「tweets.js」ですが、ある時期より過去のアーカイブは「tweet.js」の可能性があります。（いつから切り替わったのかは不明です。すみません）<br>tweet.jsの場合、YTD.tweets.part0もYTD.tweet.part0に直す必要があります。</p>
				<h2>いじって良いの？</h2>
				<p>非営利＆個人でお楽しみください。自由なカスタマイズを想定し、余計なタグやCSSは極力付けておりません。</p>
				<h2>今後もメンテしていく？</h2>
				<p>なるべくそうするつもりです。</p>
				<h2>なんで作ったの？</h2>
				<p>忌まわしき歴史を抹消する前にバックアップをダウンロードしたからです。</p>
				<h2>n番煎じ</h2>
				<p>私はまだ煎じていなかった</p>
				<hr>
		</div>

		<!-- データバインド -->
		<div v-if="!noTwData">

			<!-- 検索 -->
			<div>
				<span>{{twDataSortedShow.length}} 件表示 / ({{twData.length}}件中)</span>
				<br>
				<input type="text" v-model="input.keyword" placeholder="キーワード">
				RT: <input type="number" v-model="input.rt" placeholder="RT" min="0" max="9999">
				Like: <input type="number" v-model="input.like" placeholder="Like" min="0" max="9999">
				<button @click="clearSearch">clear</button>
			</div>

			<!-- タイムライン -->
			<div v-for="(tw,i) in twDataSortedShow" v-bind:id="tw.id" :data-debug="tw.index">
				<hr>
				<p v-bind:style="styles">[{{tw.index}}] {{formatDate(tw.created_at)}}<br>{{tw.full_text}}</p>
				<template v-if="tw.entities.urls.length > 0">
					<p v-for="url in tw.entities.urls">
						<a :href="url.expanded_url" target="_blank">{{url.display_url}}</a>
					</p>
				</template>
				<template v-if="tw.customImg && tw.customImg.length > 0">
					<a
						v-for="(tm, tmIndex) in tw.customImg"
						v-bind:key="`media-${tw.id}-${tmIndex}`"
						v-bind:href="tm"
						target="_blank"
					>
						<video v-if="tm.slice(-4) == '.mp4'" :src="tm" style="width:10vw;height:10vw;"></video>
						<img
							v-else
							v-bind:src="tm"
							style="width:10vw;height:10vw;object-fit: contain;"
						/>
					</a>
				</template>
				<p>RT: {{tw.retweet_count}} / Like: {{tw.favorite_count}}</p>
				<p>ID: #{{1594288446985580545}}</p>
				<p v-if="tw.in_reply_to_status_id"><a v-bind:href="'#' + tw.in_reply_to_status_id">返信元 #{{tw.in_reply_to_status_id}}</a></p>
			</div>
		
			<hr>
			<a href="#v-tw">トップに戻る</a>
		</div>

		<!-- #idリンクで返信ジャンプする都合上、画面最下部を開けておく -->
		<div style="height: 800px;">&nbsp;</div>
	</div>
	<script>
		// window.YTD.tweets.part0の事前定義をやっておかないとundefinedで落ちます。
		window.YTD = {
			tweets: {
				part0: []
			}
		};
	</script>
	<script src="data/tweets.js"></script>
	<script>
		let vm = new Vue({
			el: '#v-tw',
			computed: {
				// twDataSorted 表示用
				twDataSortedShow(){
					let res = []
					try {
						res = JSON.parse(JSON.stringify(this.twDataSorted))

						// 絞り込み：キーワード, RT, Like
						if (this.input.keyword) {
							res = res.filter(x => x.full_text && x.full_text.includes(this.input.keyword))
						}

						// 絞り込み：RT
						if(this.input.rt && !isNaN(this.input.rt)){
							const RT = Number(this.input.rt)
							res = res.filter(x => RT <= x.retweet_count)
						}

						// 絞り込み：RT
						if(this.input.like && !isNaN(this.input.like)){
							const Like = Number(this.input.like)
							res = res.filter(x => Like <= x.favorite_count)
						}

					} catch (e) {console.error(e)}
					return res
				},
			},
			data: {
				noTwData: YTD.tweets.part0.length <= 0,
				isReadMe: YTD.tweets.part0.length <= 0,
				twData: YTD.tweets.part0,
				twDataSorted: [], // twDataを日付昇順ソートした結果
				twDataFormatted: [], // twDataSortedに返信階層を考慮した結果
				styles: {
					'white-space': 'pre-wrap'
				},
				// tweet.jsは本文を「/n」で表現しています。上記の形式を採用しないとしても折返しの対応は必要かと思われます。

				input:{
					keyword:'',
					rt:0,
					like:0,
				},
			},
			mounted() {
				// 日付昇順ソートしたtweetデータを格納
				const editList = this.twData.sort(function (a, b) {
					if (new Date(a.tweet.created_at) > new Date(b.tweet.created_at)) {
						return 1;
					} else {
						return -1;
					}
				});

				editList.forEach((x, i) => {
					// 後で使うのオブジェクトを入れておく
					x.tweet.index = i;
					x.tweet.childrenList = [];
					x.tweet.childrenIdList = [];

					// 本文にurlが含まれている場合は別に表示するため消しておく
					x.tweet.entities.urls.forEach(function(val,i){
						if (x.tweet.full_text.includes(val.url)) {
							x.tweet.full_text = x.tweet.full_text.replace(val.url, '');
						}
					})

					// メディアが含まれる場合はパスのリストを作っておく
					if (x.tweet.extended_entities && x.tweet.extended_entities.media && x.tweet.extended_entities.media.length > 0) {
						//debugger
						console.log(`${x.tweet.index}: extended_entities`);
						x.tweet.customImg = [];
						x.tweet.extended_entities.media.forEach((m,mi)=>{
							// 「/」で分割→末尾を取得 でパスの後半が分かる
							const sl = m.media_url.split('/');
							let imageName = `data/tweets_media/${x.tweet.id}-${sl[sl.length - 1]}`;

							// 動画
							if (m.type=='video' && m.video_info){
								// debugger
								imageName = `data/tweets_media/${x.tweet.id}-`
								const mp4 = m.video_info.variants.find(x => x.bitrate== "2176000")
								if (mp4) {
									const mp4l = mp4.url.split('/')
									imageName += mp4l[mp4l.length - 1]
									imageName = imageName.split('?tag=12').join('')
								}
							}

							x.tweet.customImg.push(imageName);
						})
					}

					x.tweet.retweet_count = !isNaN(x.tweet.retweet_count) ? Number(x.tweet.retweet_count) : 0
					x.tweet.favorite_count = !isNaN(x.tweet.favorite_count) ? Number(x.tweet.favorite_count) : 0

					// 配列の中が1階層余計なので省いてから格納
					this.twDataSorted.push(x.tweet);
				});

				// --------------------------------------------------
				// ソートと加工 ここまで
				// --------------------------------------------------

				this.twDataSorted.forEach(function (x,i) {
					if (x.in_reply_to_status_id) {
						try {
							// 返信先が有れば親を探しに行く(配列の末尾とは限らないので注意)
							let parent = this.twDataSorted.filter(bf => bf.id === x.in_reply_to_status_id);

							// ここは必ず1件ある想定。取れなければ次へ
							if (parent.length === 0) {
								return
							} else {
								parent = parent[0]
							}

							// 親リストにあるか(あれば1件のみ取れる想定)
							let threadParentIndex = -1;
							this.twDataFormatted.forEach(function(val,i){
								if (val.id === parent.id) {
									threadParentIndex = i
								}
							}.bind(this));

							if (threadParentIndex > -1) {
								// ある→子供リストを作って格納(子の一番最初)
								this.twDataFormatted[threadParentIndex].childrenList.push(x);
								this.twDataFormatted[threadParentIndex].childrenIdList.push(x.id);

							} else {
								// 無い→子供リストを探していく
								
								this.twDataFormatted.forEach(function (pr, i) {
										pr.childrenIdList.forEach(function (ch, j) {
											if (ch !== x.in_reply_to_status_id) {
												return
											}

											this.twDataFormatted[i].childrenList[j].childrenList.push(x);
											this.twDataFormatted[i].childrenList[j].childrenIdList.push(x.id);
										}.bind(this))
									}.bind(this));

							}
						} catch (err) {
							console.log(`err:[${i}]`);
							console.log(err);
						} finally {}
					} else {
						// 返信先が無ければ格納(親)
						this.twDataFormatted.push(x);
					}
				}.bind(this));

				// 最後の最後に日付を降順に戻す
				this.twDataSorted = this.twDataSorted.sort(function (a, b) {
					if (new Date(a.created_at) > new Date(b.created_at)) {
						return -1;
					} else {
						return 1;
					}
				});
				this.twDataFormatted = this.twDataFormatted.sort(function (a, b) {
					if (new Date(a.created_at) > new Date(b.created_at)) {
						return -1;
					} else {
						return 1;
					}
				});
			},
			methods: {
				/** 日付フォーマット */
				formatDate (str) {
					const d = new Date(str);
					// YYYY/MM/dd(ddd) HH:mm:ss
					return `${d.getFullYear()}/${d.getMonth().toString().padStart(2, '0')}/${d.getDate().toString().padStart(2, '0')}(${'日月火水木金土'[d.getDay()]}) ${d.getHours().toString().padStart(2, '0')}:${d.getMinutes().toString().padStart(2, '0')}:${d.getSeconds().toString().padStart(2, '0')}`;
				},
				toggleReadMe () {
					this.isReadMe = !this.isReadMe;
				},
				showMessage () {
					return this.isReadMe ? '説明を閉じる' : '説明を開く';
				},

				/** 検索入力のリセット */
				clearSearch(){
					this.input.keyword=''
					this.input.rt=0
					this.input.like=0
				},
			},
		});
	</script>

	<style>
		[v-cloak] {
			display: none;
		}
		[data-debug] p {
			margin:0;
		}
	</style>
</body>

</html>